[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rspc"]
	path = Rspc
	url = https://github.com/merck/spc_package
[submodule "boxly"]
	path = boxly
	url = https://github.com/merck/boxly
[submodule "gMCPLite"]
	path = gMCPLite
	url = https://github.com/merck/gmcplite
[submodule "gsDesign2"]
	path = gsDesign2
	url = https://github.com/merck/gsdesign2
[submodule "metalite"]
	path = metalite
	url = https://github.com/merck/metalite
[submodule "metalite.ae"]
	path = metalite.ae
	url = https://github.com/merck/metalite.ae
[submodule "pkglite"]
	path = pkglite
	url = https://github.com/merck/pkglite
[submodule "psm3mkv"]
	path = psm3mkv
	url = https://github.com/merck/psm3mkv
[submodule "r2rtf"]
	path = r2rtf
	url = https://github.com/merck/r2rtf
[submodule "simtrial"]
	path = simtrial
	url = https://github.com/merck/simtrial
